################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolManagementAPI
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.AssemblyInfo.cs
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.AssemblyInfoInputs.cache
/SchoolManagement.Domain/obj
/SchoolManagement.Infrastructure/obj
/SchoolManagement.Persistence/obj
/SchoolManagement.Domain/bin/Debug/net8.0
/SchoolManagement.Infrastructure/bin/Debug/net8.0
/SchoolManagement.Persistence/bin/Debug/net8.0
/SchoolManagementAPI/bin/Debug/net8.0
/SchoolManagementAPI/obj/Debug/net8.0/ref
/SchoolManagementAPI/obj/Debug/net8.0/refint
/SchoolManagementAPI/obj/project.assets.json
/SchoolManagementAPI/obj/project.nuget.cache
/SchoolManagementAPI/obj/SchoolManagement.API.csproj.nuget.dgspec.json
/SchoolManagementAPI/obj/SchoolManagement.API.csproj.nuget.g.props
/SchoolManagementAPI/obj/SchoolManagement.API.csproj.nuget.g.targets
/SchoolManagementAPI/obj/Debug/net8.0/apphost.exe
/SchoolManagementAPI/obj/Debug/net8.0/rbcswa.dswa.cache.json
/SchoolManagementAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/SchoolManagementAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/SchoolManagementAPI/obj/Debug/net8.0/SchoolMa.ECADDB02.Up2Date
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.assets.cache
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.csproj.AssemblyReference.cache
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.csproj.CoreCompileInputs.cache
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.csproj.FileListAbsolute.txt
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.dll
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.genruntimeconfig.cache
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.MvcApplicationPartsAssemblyInfo.cache
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.MvcApplicationPartsAssemblyInfo.cs
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.pdb
/SchoolManagementAPI/obj/Debug/net8.0/SchoolManagement.API.sourcelink.json
/SchoolManagementAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/SchoolManagementAPI/obj/Debug/net8.0/staticwebassets.build.json
/SchoolManagementAPI/obj/Debug/net8.0
/SchoolManagementAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
/.vs/ProjectEvaluation
/.vs
/SchoolManagementAPI/obj/Release/net8.0
